body{
    transition: .3s all ease-in-out;
    @include flexbox(row, wrap, center, flex-start);
    margin-top: 64px;
}


// headings 
@for $i from 1 through 6{
    $fontsize: ($h1-fontsize + 0.64) - ($i * 0.64);
    h#{$i}{
        font-size: $fontsize; 
        line-height: 1.1*$fontsize; 
        margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;
        a{
            font-weight: inherit; 
        }
    }
}

// responsive video (Format 16:9)
.video_container{
    @include paddinghack(100%, 16, 9, "iframe");
}

.margin{
    padding-top: 50px;
    width: 100%;
    .content{
        @include flexbox(row, wrap, space-between, stretch);

        @media screen and (max-width: $sidebarcollapse){
            @include flexbox(column, wrap, flex-start, center);
        }
    }
}

// 404 error msg
.error{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background: $box_bg;
    border: $box_line;
}

.archive{
    article & {
        list-style: none;
        padding: 0;
    }

    .date{
        opacity: .5;
        font-size: .8em;
    }

    h3{
        padding: 10px;
    }
}

.featimg{
    width: 100%;
}

// Tables
table, th, td {
   border: none;
}

table {
  width:100%;
  display: table;

  &.bordered tr {
    border-bottom: 1px solid $table-border-color;
  }

  &.striped {
    tbody tr:nth-child(odd) {
      background-color: $table-striped-color;
    }
  }

  &.hoverable {

    tbody tr {
      transition: background-color .25s ease;
      &:hover {
        background-color: $table-striped-color;
      }
    }
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;

    }
  }

}

thead {
  border-bottom: 1px solid $table-border-color;
}

td, th{
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

// Responsive Table
@media screen and (max-width: $table-collapse){

  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    th,
    td {
      margin: 0;
      vertical-align: top;
    }

    th { text-align: left; }
    thead {
      display: block;
      float: left;

      tr {
        display: block;
        padding: 0 10px 0 0;

        th::before {
          content: "\00a0";
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    th {
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    tr { padding: 0 10px; }

    /* sort out borders */
    thead {
      border: 0;
      border-right: 1px solid $table-border-color;
    }

    &.bordered {
      th { border-bottom: 0; border-left: 0; }
      td { border-left: 0; border-right: 0; border-bottom: 0; }
      tr { border: 0; }
      tbody tr { border-right: 1px solid $table-border-color; }
    }

  }

}

