// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------
// DigitalMind
$dm-blue: #005899; // rgb(0, 88, 153)
$dm-gray: #5E5E5E; // rgb(94, 94, 94)

$accent: #E91E63;

// Palette
$color-1: $dm-blue;
$color-2: desaturate(lighten($dm-blue, 10%), 30%); // rgb(31, 113, 173)
$color-3: mix($dm-blue, $dm-gray); // rgb(47, 91, 123)
$color-4: adjust-hue($dm-blue, -20deg); // rgb(0, 139, 153)
$color-5: adjust-hue($dm-blue, -10deg); // rgb(0, 113, 153)
$color-6: invert($dm-gray); // rgb(161, 161, 161)
$color-7: complement($dm-gray); // rgb(94, 94, 94)
$color-8: adjust-hue($dm-blue, 5deg); // rgb(0, 75, 153)

// twister
$green: #AEB9A0;
$magenta: #75535F;
$coal: #4A4240;
$blue: #505879;
$lightblue: #9BA4B5;
$sand: #E6DED6;

// material palette
$dark-primary-color: #388E3C;
$primary-color: #4CAF50;
$light-primary-color: #C8E6C9;
$primary-text-icon-color: #FFF;
$accent-color: #FF5252;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: rgba(0, 0, 0, 0.87);
