// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$darkgray: #333;

// PROJECT COLORS
//---------------------------------------------------------------------

// material palettes

$primary-text-icon-color: #FFF;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: rgba(0, 0, 0, 0.87);

// green & red
/*
$dark-primary-color: #388E3C;
$primary-color: #4CAF50;
$light-primary-color: #C8E6C9;
$accent-color: #FF5252;
*/

// indigo & pink
$dark-primary-color: #303F9F;
$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$accent-color: #FF4081;
