// Overview
.overview{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y: auto;
    transition: .3s all;
    background: $white;
    border-right: 3px solid $blue;

    ul{
        list-style: none;
        counter-reset: nested-counter;
        padding-left: 0;

        li {
            counter-increment: nested-counter;
            font-size: 98%;
        }
    }

    #nav{
        width: 100%;
        box-sizing: border-box;

        > li{
            border-bottom: 1px solid rgba($blue, .3);
            a{
                display: block;
                padding: 10px 20px;
                line-height: 1;
                border-bottom: 1px solid rgba($blue, .2);

                &:before {
                    content: counters(nested-counter, ".") " ";
                    font-size: 0;
                }

                &:hover{
                    background: rgba($blue, .1);
                }
            }

            li{
                a{
                    padding: 8px 30px;
                }

                li{
                    a{
                        padding: 6px 40px;
                    }
                }
            }
        }

        .current{
            > a{
                &:before {
                    font-size: 1em;
                }
            }
        }
    }
}

.current{
    > a{
        font-weight: $bold;
    }
}
